<article class="panel">
	<div class="panel-inner">
		<div class="panel-copy">
			<h1><%= work.title %></h1>
			<%= render inline: work.video_url %>
			<p><%= work.description %></p>
		</div>
	</div>

	<%= link_to 'Show', work %>
	<%= link_to 'Edit', edit_work_path(work) %>
	<%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %>
</article>