<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Andrew Bangel" %></title>
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/generic" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/paatch" rel="stylesheet" type="text/css"/>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section id="header">
      <div class="inner">
        <a href="<%= root_path %>">
          <div class="nameplate">
            <h1><span class="heavy">ANDREW</span>BANGEL</h1>
            <h2>CHARACTER ANIMATOR</h2>
          </div>
        </a>
        <div class="navbar">
          <div id="mediabar">
            <ul>
              <li><a href="https://www.facebook.com/ajbangel" class="rollover facebook"><span class="displace">Facebook</span></a></li>
              <li><a href="https://twitter.com/ajbangel" class="rollover twitter"><span class="displace">Twitter</span></a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=85227749" class="rollover linkedin"><span class="displace">Linkedin</span></a></li>
            </ul>
          </div>
          <div id="menubar">
            <ul>
              <li<%= ' class=selected' if @pageclass == "bio"      %>><%= link_to "BIO", bio_viewer_path %></li>
              <li<%= ' class=selected' if @pageclass == "demoreel" %>><%= link_to "REEL", root_path %></li>
              <li<%= ' class=selected' if @pageclass == "works"    %>><%= link_to "ANIMATIONS", works_path %></li>
              <li><%= link_to "RESUMÉ", "/Andrew%20Bangel%20Resume%202015.pdf" %></li>
              <li<%= ' class=selected' if @pageclass == "contact"  %>><%= link_to "CONTACT", contact_viewer_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <%= image_tag "banner-sketch.png", id: "bnimage" %>
    </section>

    <% if notice %>
    <div class="flash-notice">
      <span><%= notice %></span>
    </div>
    <br>
    <% end %>

    <section id="<%= @pageclass %>" class="content">
      <%= yield %>
    </section>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>

    <%= javascript_include_tag "application" %>
  </body>
</html>
